body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image: url("https://images.cdn4.stockunlimited.net/preview1300/cinema-background-with-movie-objects_1823382.jpg");
    font-family: 'Montserrat', sans-serif;
    padding: 150px 0;
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
    height: 50vh;
}
.jumbotron h1 {
        font-size: 70px;
        margin-bottom: 0;
}

.jumbotron p {
        font-family: serif;
        font-size: 30px;
        font-style: italic;
        margin: 0 0 30px;
 }