body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image: url("./img/header-culture-cinema.jpg");
    font-family: 'Montserrat', sans-serif;
    padding: 150px 0;
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
    height: 50vh;
    width: 90vw;
}

    .jumbotron h1 {
        font-size: 70px;
        margin-bottom: 0;
    }

    .jumbotron p {
        font-family: serif;
        font-size: 30px;
        font-style: italic;
        margin: 0 0 30px;
    }

#login-modal-error {
    text-align: center;
}

#adminWrapper {
    visibility: hidden;
}

.buttonIcons {
    width: 20px;
    height: 20px;
}

.removeIcon, .editIcon {
    background-position: center;
    background-repeat: no-repeat;
}

.removeIcon {
    background: url("./img/trash-solid.svg");
}

.editIcon {
    background: url("./img/edit-solid.svg");
}

.eyeIcon {
    background: url("./img/eye-solid.svg");
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 20px;
    height: 10px;
}

.eyeSlashIcon {
    background: url("./img/eye-slash-solid.svg");
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 20px;
    height: 10px;
}

#admin-tab {
    visibility: hidden;
}

#myReservationsTab {
    visibility: hidden;
}

#logout {
    visibility: hidden;
}

#listItemLoginBtn {
    background-color: rgba(255, 10, 10,0.8);
}

#listNavBar {
    float: right;
}

#loginShowModal {
    margin: auto;
    width: 50%;
    text-align: center;
}

#inputGroupLoginModal, #inputGroupLoginModal2 {
    width: 100%;
}

#loginBtn, #logoutButton, #myReservations {
    color: white;
}

#containerNavbar {
    margin: 0;
}