@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <fieldset>
        <legend class="">Register</legend>
        <div class="control-group">
            <!-- First Name -->
            <label class="control-label" for="first-name">First Name</label>
            <div class="text-danger" id="firstname-error"></div>
            <div class="controls">
                <input type="text" id="first-name" name="first-name" placeholder="Your First Name" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Last Name -->
            <label class="control-label" for="last-name">Last Name</label>
            <div class="text-danger" id="lastname-error"></div>
            <div class="controls">
                <input type="text" id="last-name" name="last-name" placeholder="Your Last Name" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="text-danger" id="email-error"></div>
            <div class="controls">
                <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
            </div>
        </div>

        <!-- <div class="control-group">-->
        <!-- Password-->
        <!--<label class="control-label" for="password">Password</label>
        <div class="text-danger" id="password-error"></div>
        <div class="controls">
            <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
            <div class="input-group-addon">
                <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
            </div>
            <p class="help-block">Password should be at least 4 characters</p>
        </div>
        </div>-->

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="text-danger" id="password-error"></div>
            <div class="controls">
                <div class="input-group input-xlarge" id="show_hide_password">
                    <input class="form-control" type="password" id="password">
                    <div class="input-group-addon" id="eye-id">
                        <a href=""><div class="eyeIcon" aria-hidden="true"></div></a>
                    </div>
                </div>
                <p class="help-block">Password should be at least 4 characters</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label" for="password_confirm">Password (Confirm)</label>
            <div class="text-danger" id="password-confirm-error"></div>
            <div class="controls">
                <div class="input-group input-xlarge" id="show_hide_password">
                    <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                </div>
                <p class="help-block">Please confirm password</p>
            </div>
        </div>

        <div class="control-group">
            <!-- phoneNb -->
            <label class="control-label" for="phone-number">Phone Number</label>
            <div class="text-danger" id="phoneNb-error"></div>
            <div class="controls">
                <input type="number" id="phone-number" name="phone-number" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- cardNb -->
            <label class="control-label" for="card-number">Card Number</label>
            <div class="text-danger" id="cardNb-error"></div>
            <div class="controls">
                <input type="number" id="card-number" name="card-number" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <span>  <button class="btn btn-success" onclick="addItem()">Register</button></span>
                <span>  <button class="btn btn-success" id="register-backbutton-id">Back</button></span>
            </div>
        </div>
    </fieldset>
</body>
</html>