@model CineM8.Models.Movie
@{
  ViewBag.Title = "Movie";

}

<div class="parent">

  <div id="id-number" style="display: none">@Model.Id</div>

    <div class="div1">
      <h1 id="movie-name">@Model.Name</h1>

      <img style="width:300px;height:460px" src="@Model.ImageURL" />
    </div>
     
    <div class="div2">
      <h3>@Model.Description</h3>
    </div>

</div>

<div class="dropdown">
  <button class="dropbtn">Date and hour</button>
  <div class="dropdown-content" id="dropdown-content">
    <a href="#/">2021-06-02 12:00:00</a>
    <a href="#/">2021-06-02 15:00:00</a>
    <a href="#/">2021-06-03 12:00:00</a>
  </div>
</div>

<h3 id="movie-date"></h3>
<h4 id="movie-time"></h4>


<div class="movie-container">
    @*<label>Pick a movie: </label>*@
    <div id="movie">
      @*<option value="250">Interstellar (Rs. 250)</option>
        <option value="200">Kabir Singh (Rs. 200)</option>
        <option value="150">Duniyadari (Rs. 150)</option>
        <option value="100">Natsamrat (Rs. 100)</option>*@
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>

    <div class="container2 container">
      <div class="screen"></div>
      <div id="places">
        @*<div class="row">
          <div class="seat">1</div>
          <div class="seat">2</div>
          <div class="seat">3</div>
          <div class="seat">4</div>
          <div class="seat">5</div>
          <div class="seat">6</div>
          <div class="seat">7</div>
          <div class="seat">8</div>
        </div>
        <div class="row">
          <div class="seat">9</div>
          <div class="seat">10</div>
          <div class="seat">11</div>
          <div class="seat">12</div>
          <div class="seat">13</div>
          <div class="seat">14</div>
          <div class="seat">15</div>
          <div class="seat">16</div>
        </div>
        <div class="row">
          <div class="seat">17</div>
          <div class="seat">18</div>
          <div class="seat">19</div>
          <div class="seat">20</div>
          <div class="seat">21</div>
          <div class="seat">22</div>
          <div class="seat">23</div>
          <div class="seat">24</div>
        </div>
        <div class="row">
          <div class="seat">25</div>
          <div class="seat">26</div>
          <div class="seat">27</div>
          <div class="seat">28</div>
          <div class="seat">29</div>
          <div class="seat">30</div>
          <div class="seat">31</div>
          <div class="seat">32</div>
        </div>
        <div class="row">
          <div class="seat">33</div>
          <div class="seat">34</div>
          <div class="seat">35</div>
          <div class="seat">36</div>
          <div class="seat">37</div>
          <div class="seat">38</div>
          <div class="seat">39</div>
          <div class="seat">40</div>
        </div>
        <div class="row">
          <div class="seat">41</div>
          <div class="seat">42</div>
          <div class="seat">43</div>
          <div class="seat">44</div>
          <div class="seat">45</div>
          <div class="seat">46</div>
          <div class="seat">47</div>
          <div class="seat">48</div>
        </div>*@
      </div>
     
      <p class="text">
        You have selected <span id="count">0</span> seats
      </p>

      <button class="btn btn-info" id="submitButton">Submit seats</button>
    </div>
  </div>
