<div class="jumbotron">
    <h1>CineM8</h1>
    <p class="lead">Cinema reservations. Smooth & easy</p>
    <p><a href="#movies-list" class="btn btn-primary btn-lg">discover more... &raquo;</a></p>
</div>

<div id="movies-list">

</div>
<!-- LOGIN MODAL-->
<!-- Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">LOGIN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="white-panel">
                    <div class="login-show" style="margin:auto;width:50%;text-align:center;">
                        <div class="input-group flex-nowrap" style="width:100%;">
                            <span class="input-group-text" id="addon-wrapping"></span>
                            <input type="text" class="form-control" id="username-login-form" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <br />
                        <div class="input-group flex-nowrap" style="width:100%;">
                            <span class="input-group-text" id="addon-wrapping"></span>
                            <input type="password" class="form-control" id="password-login-form" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <br />
                        <div id="register-option-redirect">
                            Don't have an account? <a href="/Register">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="login-button" class="btn btn-primary" onclick="loginUser()">Login</button>
            </div>
        </div>
    </div>
</div>


<!-- END LOGIN MODAL -->
