<div class="jumbotron">
    <h1>CineM8</h1>
    <p class="lead">Cinema reservations. Smooth & easy</p>
    <p><a href="#movies-list" class="btn btn-primary btn-lg">discover more... &raquo;</a></p>
</div>

<div id="movies-list">

</div>