<div class="jumbotron">
    <h1>CineM8</h1>
    <p class="lead">Cinema reservatio. Smooth & easy</p>
    <p><a href="https://imdb.com" class="btn btn-primary btn-lg">discover more... &raquo;</a></p>
</div>
<div class="row">
   
</div>
